.content {
  height: 100%;
  padding: 40% 64px;

  ion-buttons {
    margin-top: 13px;

    ion-spinner {
      margin-left: 8px;
    }
  }

  .error {
    margin: 8px 10px 0;
    color: #d33939;
  }
}
