<ion-header>
  <ion-toolbar>
    <ion-title>
      Conversations
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <app-conversation-item
            [routerLink]="'/conversation/' + conversation.id_conversation"
            *ngFor="let conversation of conversations"
            [conversation]="conversation"
    ></app-conversation-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/new-conversation">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
